config/fml.toml
config/jei/world/

crash-reports/
downloads/
kiwipacks/
local/
logs/
mods/
profileImage/
saves/
screenshots/

.curseclient
minecraftinstance.json
options.txt
rhino.local.properties
usercache.json
usernamecache.json