config/fml.toml
config/jei/world/
config/resourceful-config-web.json

crash-reports/
downloads/
kiwipacks/
local/
logs/
mods/
profileImage/
saves/
screenshots/
gtceu/prospection_cache/

.curseclient
minecraftinstance.json
options.txt
rhino.local.properties
usercache.json
usernamecache.json

.vscode
kubejs/jsconfig.json
kubejs/config/probejs.json